<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title></title>
</head>
<body ng-controller= "myController">
	<div id="mainCalculator">
		<input type="text" name="result" class="result" ng-model="result"/><br/>
	
		<div class="digits">
			<button ng-repeat="x in allNumbers track by x" class="allButtons" ng-click="pushNumber(x)"> {{ x }}</button>
			<button class="allButtons equal" ng-click="calculate()"> = </button>
			<button class="allButtons equalWidth" ng-click="clearAll()"> Clear All </button>
			<button class="allButtons equalWidth" ng-click="deleteOneChar()"> Delete </button>
		</div>

	</div>
	
	<script type="text/javascript" src= "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
	<script type="text/javascript" src= "app.js"></script>
</body>
</html>